name: bull-board-tls-example

services:
  bullboard:
    image: venatum/bull-board:latest
    environment:
      REDIS_HOST: redis
      REDIS_PORT: 6379
      REDIS_USE_TLS: 'true'
      REDIS_TLS_REJECT_UNAUTHORIZED: 'false'
      REDIS_TLS_CA: /tls/ca.crt
      REDIS_TLS_SERVERNAME: redis
      NODE_EXTRA_CA_CERTS: /tls/ca.crt
    restart: unless-stopped
    depends_on:
      redis:
        condition: service_healthy
    ports:
      - "3000:3000"
    volumes:
      - ./certs:/tls:ro

  redis:
    container_name: redis
    image: redis:alpine
    command: ["redis-server", "/usr/local/etc/redis/redis.conf"]
    volumes:
      - ./redis.conf:/usr/local/etc/redis/redis.conf:ro
      - ./certs:/tls:ro
    healthcheck:
      test: ["CMD-SHELL", "redis-cli --tls --cacert /tls/ca.crt -h 127.0.0.1 -p 6379 ping | grep -q PONG"]
      interval: 10s
      timeout: 10s
      retries: 10
    restart: unless-stopped
    ports:
      - "6379:6379"
